@font-face {
  font-family: 'Konnect';
  src: url('/fonts/konnect/Konnect-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/crimson-text/CrimsonText-SemiBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}